h1 {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: cadetblue;
}

body {
    font-family: "Be Vietnam Pro", sans-serif;
    background-color: #F6FBFB;
}

.container {
    display: relative;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
}

.box {
 background-color: #5F9EA0;
 height: 50px;
 width: 50px   
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #7AAFB2;
    
}
